@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-mplus {
    font-family: "M PLUS Rounded 1c", sans-serif;
}

.landing-panel-img-container {
    height: min(50vh, 30rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

#svg-biker:hover .bike-wheel-rotate {
    animation: rotate 5s 0.5s linear infinite;
}
@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100%;
}

.calendar-title-cell {
    padding: 0.5rem;
    /* height: 2rem; */
}

.calendar-grid-cell {
    background: white;
    border-right: 1px solid #e2e8f0;
    border-bottom: 1px solid #e2e8f0;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-grid .calendar-grid-cell:nth-child(17) {
    border-radius: 0.5rem 0 0 0;
}

.calendar-grid .calendar-grid-cell:nth-child(30) {
    border-radius: 0 0.5rem 0 0;
}

.calendar-grid .calendar-grid-cell:nth-last-child(14) {
    border-radius: 0 0 0 0.5rem;
}

.calendar-grid .calendar-grid-cell:last-child {
    border-radius: 0 0 0.5rem 0;
}

.calendar-grid-cell img {
    width: 80%;
}

.calendar-ceremony {
    background: #f6ad55;
    border-right: 1px solid #e2e8f0;
    height: 6rem;
}

.swiper {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.swiper * {
    box-sizing: border-box;
}

.swiper-slide {
    display: flex !important;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 70% !important;
    padding: 1rem;
    
    background: lightblue;
    border-radius: 1rem;
    border: 2px solid black;
}

.swiper-button-next, .swiper-button-prev {
    color: black;
    height: 100%;
    position: absolute;
    /* background: rgb(255, 0, 0, 0.5); */
    width: calc(15% - 30px);
    border-radius: 1rem;
    top: 0;
    z-index: 50;
}
.swiper-button-next {
    right: 0;
}

.track-photo {
    height: 15vw;
    flex-basis: 15vw;
    border-radius: 1rem;
    border: 2px solid black;
    flex-grow: 0;
    flex-shrink: 0;
}
.track-desc {
    flex-grow: 1;
}
.track-desc h1 {
    font-size: 1.5rem;
    font-weight: 700;
}
.track-desc h2 {
    font-size: 1.25rem;
    font-weight: 500;

}
.track-desc p {
    font-size: 0.8rem;
    font-weight: 400;
    display: block;
}

.faq-tab li {
    list-style: inside;
    padding: 0 0 0 1.5rem;
}
  
