@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

* {
  font-family: 'Krona One', sans-serif;
  text-align: center;
}

img {
  width: 50%;
}

.title {
  font-size: 3rem;
  text-align: center;
  color: #CE7C35
}
.secondary {
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  img {
    width: 90%;
  }
  .title {
    font-size: 2rem;
  }
  .secondary {
    font-size: 1.5rem;
  }
  
}
