.faq-tab li {
    list-style: inside;
    padding: 0 0 0 1.5rem;
}

#faq-box {
    box-shadow: 0 0 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@media (max-width: 768px) {
    #faq-tabs > div {
        flex-wrap: wrap !important;
    }
}


