@import 'calendar.css';
@import 'faq.css';
@import 'fonts.css';
@import 'landing.css';
@import 'tracks.css';
@import 'team.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    *::before,
    *::after{
        box-sizing: border-box;
    }

    :root {
        --scav-transition-dur: 0.5s;
    }
    
    :host,html {
        line-height: 1.5;
        text-size-adjust: 100%;
        font-family: 'M PLUS Rounded 1c',ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-feature-settings: normal;
        font-variation-settings: normal;
        tab-size: 4;
        -webkit-tap-highlight-color: transparent;
        transition-duration:  0.3s;
        list-style: none;
        scroll-behavior: smooth;
        transition: all;
    }
    
    ::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

    .font-mplus {
        font-family: 'M PLUS Rounded 1c',ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    }

    .no-scroll {
        overflow-y: hidden;
    }

    body {
        background-color: #EDE5C2;
        transition: background-color var(--scav-transition-dur) ease;
        color: #3C2415
    }

    body.scav {
        background-color: #F2DCC0;
    }

    a:hover {
        font-weight: 700;
    }

    .navbar {
        background-color: rgba(255, 255, 255, 0.7);
        transition: var(--scav-transition-dur) ease-in-out;
    }
    .navbar::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        z-index: -1;
    }

    .mobile-nav-slide {
        background-color: rgba(255, 255, 255, 0.7);
        transition: height 0.3s ease-in-out;
    }
    .mobile-nav-slide::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(10px);
        z-index: -1;
    }

    body.scav .navbar {
        background: rgb(255 255 255 / 70%);
    }
}

