@import 'calendar.css';
@import 'faq.css';
@import 'fonts.css';
@import 'landing.css';
@import 'tracks.css';
@import 'team.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    *::before,
    *::after{
        box-sizing: border-box;
    }

    :root {
        --scav-transition-dur: 0.5s;
    }
    
    :host,html {
        line-height: 1.5;
        text-size-adjust: 100%;
        font-family: 'M PLUS Rounded 1c',ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-feature-settings: normal;
        font-variation-settings: normal;
        tab-size: 4;
        -webkit-tap-highlight-color: transparent;
        transition-duration:  0.3s;
        list-style: none;
        scroll-behavior: smooth;
        transition: all;
    }
    
    ::-webkit-scrollbar {
        width: 0;
        background: transparent;
    }

    .font-mplus {
        font-family: 'M PLUS Rounded 1c',ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    }

    .no-scroll {
        overflow-y: hidden;
    }

    body {
        background-color: white;
        transition: background-color var(--scav-transition-dur) ease;
    }
    body.scav {
        background-color: #F1D6BB;
    }

    .navbar {
        background: white;
        transition: var(--scav-transition-dur) ease;
        backdrop-filter: blur(10px);
    }
    body.scav .navbar {
        background: rgba(255, 255, 255, 0.7);
    }
}

