.landing-panel-img-container {
    height: min(50vh, 30rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.numberdisplay-number {
    background-color: rgb(229 231 235);
    transition: background-color var(--scav-transition-dur) ease;
}

body.scav .numberdisplay-number {
    background-color: white;
}

#landing-wh-logo img, .no-drag {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
}

#stand-logo-inner { transition: top 0.4s 0.4s ease; }
body.scav #stand-logo-inner { top: -100%; transition: top 0.4s 0.2s ease; }

#stand-shadow { transition: left 0.4s 0.6s ease; }
body.scav #stand-shadow { left: 43.5%; transition: left 0.4s ease; }

#stand-sign { transition: top 0.4s ease; }
body.scav #stand-sign { top: -21.3%; transition: top 0.4s 0.6s ease; }

#stand-bar { transition: top 0.4s 0.2s ease; }
body.scav #stand-bar { top: 61.7%; transition: top 0.4s 0.4s ease; }

#landing-blob { opacity: 0; transition: opacity var(--scav-transition-dur) ease-in-out; }
body.scav #landing-blob { opacity: 1; }

.header {
  padding: 10px 16px;
}

.sticky-2 {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky-2 + .content {
  padding-top: 102px;
}

.overlay {
  max-width: 1140px;
  max-height: 640px;

/*   padding: 8rem 6rem; */
  display: flex;
  align-items: center;
  background: rgb(255 255 255 / 37.5%);
  box-shadow: 0 0.75rem 2rem 0 rgb(0 0 0 / 10%);
  border-radius: 2rem;
  border: 1px solid rgb(255 255 255 / 12.5%);
}

.overlay__description {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 3rem;
}