.landing-panel-img-container {
    height: min(50vh, 30rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.numberdisplay-number {
    background-color: rgb(229 231 235);
    transition: background-color var(--scav-transition-dur) ease;
}

body.scav .numberdisplay-number {
    background-color: white;
}

.bike-wheel-rotate {
  transition: height 0.5s ease;
}

.biker-flag {
  width: 0;
  animation: bikerFlagWidth 0.5s ease;
  animation-fill-mode: forwards;
}
@keyframes bikerFlagWidth {
  0% { width: 0; }
  100% { width: 3%; }
}

#svg-biker {
  transition: transform 2s ease;
}

#svg-biker:hover .bike-wheel-rotate {
  animation: rotate 5s 0.5s linear infinite;
}

@keyframes rotate {
  100% {
      transform: rotate(360deg);
  }
}

#landing-wh-logo img, .no-drag {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
}

#stand-logo-inner { transition: top 0.4s 0.4s ease; }
body.scav #stand-logo-inner { top: -100%; transition: top 0.4s 0.2s ease; }

#stand-shadow { transition: left 0.4s 0.6s ease; }
body.scav #stand-shadow { left: 43.5%; transition: left 0.4s ease; }

#stand-sign { transition: top 0.4s ease; }
body.scav #stand-sign { top: -21.3%; transition: top 0.4s 0.6s ease; }

#stand-bar { transition: top 0.4s 0.2s ease; }
body.scav #stand-bar { top: 61.7%; transition: top 0.4s 0.4s ease; }

#landing-blob { opacity: 0; transition: opacity var(--scav-transition-dur) ease-in-out; }
body.scav #landing-blob { opacity: 1; }

.header {
  padding: 10px 16px;
}

.sticky-2 {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky-2 + .content {
  padding-top: 102px;
}

.overlay {
  max-width: 1140px;
  max-height: 640px;

/*   padding: 8rem 6rem; */
  display: flex;
  align-items: center;
  background: rgb(255 255 255 / 37.5%);
  box-shadow: 0 0.75rem 2rem 0 rgb(0 0 0 / 10%);
  border-radius: 2rem;
  border: 1px solid rgb(255 255 255 / 12.5%);
}

.overlay__description {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-bottom: 3rem;
}


.speech-bubble {
  background: #fff;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.6);
}
.speech-bubble::after {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: #fff;
  position: absolute;
  bottom: -0.5rem;
  left: calc(100% - 0.5rem);
  transform: rotate(-45deg);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}