.card-title::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 5px;
  width: 95%;
  height: 90%;
  background-image: linear-gradient(to right, #FDDC79, #C6844365, #FDDC79);
  filter: blur(20px);
  z-index: -1;
}

.source {
  opacity: 0;
  transition: opacity 1200ms;
}

.loaded {
  opacity: 1;
}

dialog {
  transition: all 0.25s ease-out allow-discrete;
  &, &[open]:starting-style {
    transform: translateY(-50%);
    &, &::backdrop {
      opacity: 0;
    }
  }
  &[open] {
    transform: translateY(0);
    &, &::backdrop {
      transition-duration: 0.5s;
      opacity: 1;
    }
  }
}

.team-topcard {
  background: white;
  border: 2px solid black;
  border-radius: 1rem;
}
.team-topcard .card-spike {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background: #000;
  position: absolute;
  top: 100%;
  left: calc(50% - 1rem);
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.team-topcard .card-spike-inner {
  display: inline-block;
  width: calc(2rem - 4px);
  height: calc(2rem - 4px);
  background: #fff;
  position: absolute;
  top: -0.25px;
  left: 2px;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}