.card-title::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 5px;
  width: 95%;
  height: 90%;
  background-image: linear-gradient(to right, #FDDC79, #C6844365, #FDDC79);
  filter: blur(20px);
  z-index: -1;
}

.source {
  opacity: 0;
  transition: opacity 1200ms;
}

.loaded {
  opacity: 1;
}

dialog {
  transition: all 0.25s ease-out allow-discrete;
  &, &[open]:starting-style {
    transform: translateY(-50%);
    &, &::backdrop {
      opacity: 0;
    }
  }
  &[open] {
    transform: translateY(0);
    &, &::backdrop {
      transition-duration: 0.5s;
      opacity: 1;
    }
  }
}