.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-inline: 10px;
    margin-top: 20px;
}

.pagination-button {
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 0.8rem;
    font-weight: 500;
    background-color: #E9E9E9;
    border: none;
    cursor: pointer;
    width: 276px;
    height: 16px;
    color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.pagination-button.active {
    background-color: #bb8653;
}

.pagination-button:not(.active):hover {
    background-color: #cbd5e0;
}

@media screen and (max-width: 1024px) {
    .pagination-button {
        width: 200px;
        height: 14px;
    }
}

@media screen and (max-width: 768px) {
    .pagination-button {
        width: 150px;
        height: 12px;
    }
}

@media screen and (max-width: 480px) {
    .pagination-button {
        width: 100px;
        height: 10px;
    }
}

@media screen and (max-width: 320px) {
    .pagination-button {
        width: 50px;
        height: 8px;
    }
}